body {
	display: flex;
	flex-direction: column;
	background-color: #a9a9a9;
	height: 100%;
	width: 100%;
	align-items: center;
}

div {
	background-color: tomato;
	margin: 10px;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer {
	height: 50px;
	background-color: black;
	color: white;
	width: 100%;
	margin: 10px;
}

header {
	margin: 10px;
	background-color: blue;
	width: 100%;
	height: 50px;
	justify-content: center;
    display: flex;
    align-items: center;
}

p {
	margin: 10px;
	background-color: green;
	width: 100%;
	height: auto;
	justify-content: center;
    display: flex;
    align-items: center;
}

button {
	background-color: pink;

}