body {
	display: flex;
	flex-direction: column;
	background-color: #a9a9a9;
	height: 100%;
	width: 100%;
}

div {
	background-color: tomato;
	margin: 10px;
	width: 100px;
	height: 100px;
	display: flex;
}

footer {
	position: absolute;
	height: 50px;
	background-color: black;
	color: white;
}

header {
	margin: 10px;
}