body {
	display: flex;
	flex-direction: column;
	background-color: #a9a9a9;
	height: 1000px;
}

footer {
	background-color: #000;
	height: 50px;
	color: #fff;
	width: 100%;
	justify-content: center;
}